
.classpath

.project

*.prefs

AndroidManifest.xml

*.apk

*.dex

*.class

*.jar

*.cache

bin/res/drawable-hdpi/ic_launcher.png

bin/res/drawable-xxhdpi/ic_launcher.png

bin/res/drawable-xhdpi/ic_launcher.png

bin/res/drawable-mdpi/ic_launcher.png

bin/resources.ap_

ic_launcher-web.png

proguard-project.txt

project.properties

*.xml

res/drawable-xxhdpi/ic_launcher.png

res/drawable-xhdpi/ic_launcher.png

res/drawable-mdpi/ic_launcher.png

res/drawable-hdpi/ic_launcher.png

gen/com/example/bolinha/R.java

gen/com/example/bolinha/BuildConfig.java
